@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
   font-family: "Outfit", serif;
}

.active{
    background: #ffebf5;
    border-color: #c586A5;
}
